#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}