#s-1b558c03-8ac9-4840-8de0-2864600b44f1 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Rectangle_3 {
  position: absolute;
  width: 736px;
  height: 768px;
  background-color: #B2AAA6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Rectangle_2 {
  position: absolute;
  width: 680px;
  height: 767px;
  background-color: #E4E0E1;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E4E0E1;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E4E0E1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E4E0E1;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E4E0E1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: 'Century Gothic',Arial;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_2 span {
  color: #142129;
  text-align: left;
  text-decoration: none;
  font-family: 'Century Gothic',Arial;
  font-size: 48.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #142129;
  text-align: left;
  text-decoration: none;
  font-family: 'Century Gothic',Arial;
  font-size: 48.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: 'Felix Titling',Arial;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_4 span {
  color: #425F5D;
  text-align: left;
  text-decoration: none;
  font-family: 'Felix Titling',Arial;
  font-size: 48.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #425F5D;
  text-align: left;
  text-decoration: none;
  font-family: 'Felix Titling',Arial;
  font-size: 48.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: 'Felix Titling',Arial;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_5 span {
  color: #425F5D;
  text-align: left;
  text-decoration: none;
  font-family: 'Felix Titling',Arial;
  font-size: 48.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #425F5D;
  text-align: left;
  text-decoration: none;
  font-family: 'Felix Titling',Arial;
  font-size: 48.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Rectangle_1 {
  position: absolute;
  width: 968px;
  height: 314px;
  background-color: #142129;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #142129;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #142129;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #142129;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #142129;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Paragraph_1 {
  position: absolute;
  width: 945px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 42px;
  font-size: 22.0pt;
  font-family: 'Garamond',Arial;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Paragraph_1 span {
  color: #EBCFC3;
  text-align: center;
  text-decoration: none;
  font-family: 'Garamond',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #EBCFC3;
  text-align: center;
  text-decoration: none;
  font-family: 'Garamond',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Button_11 {
  position: absolute;
  width: 275px;
  height: 69px;
  background-color: #76847D;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 26.0pt;
  font-family: 'Bahnschrift Light',Arial;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Button_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Button_11 span {
  color: #E4E0E1;
  text-align: center;
  text-decoration: none;
  font-family: 'Bahnschrift Light',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 300;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Button_11 span#rtr-s-Button_11_0 {
  color: #E4E0E1;
  text-align: center;
  text-decoration: none;
  font-family: 'Bahnschrift Light',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 #s-Image_2 {
  position: absolute;
  width: 466px;
  height: 251px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1b558c03-8ac9-4840-8de0-2864600b44f1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}