#s-2689787c-ad29-4793-97b5-b171635df029 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2689787c-ad29-4793-97b5-b171635df029 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2689787c-ad29-4793-97b5-b171635df029 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2689787c-ad29-4793-97b5-b171635df029 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2689787c-ad29-4793-97b5-b171635df029 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2689787c-ad29-4793-97b5-b171635df029 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2689787c-ad29-4793-97b5-b171635df029 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2689787c-ad29-4793-97b5-b171635df029 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}