#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Rectangle_1 {
  position: absolute;
  width: 1364px;
  height: 766px;
  background-color: #E4E0E1;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E4E0E1;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E4E0E1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E4E0E1;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E4E0E1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: 'High Tower Text',Arial;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Text_1 span {
  color: #142129;
  text-align: left;
  text-decoration: none;
  font-family: 'High Tower Text',Arial;
  font-size: 48.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #142129;
  text-align: left;
  text-decoration: none;
  font-family: 'High Tower Text',Arial;
  font-size: 48.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: 'Garamond',Arial;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Text_3 span {
  color: #142129;
  text-align: left;
  text-decoration: none;
  font-family: 'Garamond',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #142129;
  text-align: left;
  text-decoration: none;
  font-family: 'Garamond',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Input_2 {
  position: absolute;
  padding-left: 5px;
  width: 824px;
  height: 281px;
  background-color: #93A79C;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 22.0pt;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Input_2 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Century Gothic',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Button_11 {
  position: absolute;
  width: 275px;
  height: 69px;
  background-color: #76847D;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 26.0pt;
  font-family: 'Bahnschrift Light',Arial;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Button_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Button_11 span {
  color: #E4E0E1;
  text-align: center;
  text-decoration: none;
  font-family: 'Bahnschrift Light',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 300;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Button_11 span#rtr-s-Button_11_0 {
  color: #E4E0E1;
  text-align: center;
  text-decoration: none;
  font-family: 'Bahnschrift Light',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Button_12 {
  position: absolute;
  width: 275px;
  height: 69px;
  background-color: #76847D;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 26.0pt;
  font-family: 'Bahnschrift Light',Arial;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Button_12 span {
  color: #E4E0E1;
  text-align: center;
  text-decoration: none;
  font-family: 'Bahnschrift Light',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 300;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Button_12 span#rtr-s-Button_12_0 {
  color: #E4E0E1;
  text-align: center;
  text-decoration: none;
  font-family: 'Bahnschrift Light',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Input_3 {
  position: absolute;
  padding-left: 5px;
  width: calc(263px - 71px);
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Input_3 .icon {
  top: 10px;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Input_3 input.file-input {
  top: 10px;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: 'Garamond',Arial;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Text_4 span {
  color: #142129;
  text-align: left;
  text-decoration: none;
  font-family: 'Garamond',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #142129;
  text-align: left;
  text-decoration: none;
  font-family: 'Garamond',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Input_4 textarea::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Input_4 textarea::-moz-placeholder {
  color: #B4B4B4;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Input_4 textarea:-moz-placeholder {
  color: #B4B4B4;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Input_4 textarea:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Input_4 {
  position: absolute;
  padding-left: 5px;
  width: 1175px;
  height: 281px;
  background-color: #B2AAA6;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2AAA6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B2AAA6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B2AAA6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B2AAA6;
  box-shadow: none;
  cursor: text;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Input_4 textarea {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Image_1 {
  position: absolute;
  width: 116px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Group_1 {
  position: absolute;
  width: 827px;
  height: 39px;
  display: none;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Rich_text_1 {
  position: absolute;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  width: 802px;
  height: 21px;
  background-color: #DFF0D8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D6E9C6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D6E9C6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6E9C6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D6E9C6;
  border-radius: 5px 5px 5px 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.000001pt;
  font-family: 'Arial',Arial;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Rich_text_1 span {
  color: #468847;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.000001pt;
  font-style: normal;
  font-weight: 700;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #468847;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.000001pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 #s-Image_2 {
  position: absolute;
  width: 19px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2c5ee2f9-ec10-43e7-ada4-d47e037071e3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}