#s-44c65a56-110f-418c-ade3-6f8be77d6e37 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44c65a56-110f-418c-ade3-6f8be77d6e37 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44c65a56-110f-418c-ade3-6f8be77d6e37 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44c65a56-110f-418c-ade3-6f8be77d6e37 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44c65a56-110f-418c-ade3-6f8be77d6e37 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44c65a56-110f-418c-ade3-6f8be77d6e37 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44c65a56-110f-418c-ade3-6f8be77d6e37 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44c65a56-110f-418c-ade3-6f8be77d6e37 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}