#s-7cb2c9c0-2cd4-4c29-ac1b-7e11dbdee8a1 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb2c9c0-2cd4-4c29-ac1b-7e11dbdee8a1 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb2c9c0-2cd4-4c29-ac1b-7e11dbdee8a1 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb2c9c0-2cd4-4c29-ac1b-7e11dbdee8a1 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb2c9c0-2cd4-4c29-ac1b-7e11dbdee8a1 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb2c9c0-2cd4-4c29-ac1b-7e11dbdee8a1 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb2c9c0-2cd4-4c29-ac1b-7e11dbdee8a1 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb2c9c0-2cd4-4c29-ac1b-7e11dbdee8a1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}