#s-898dceb3-6f5e-458b-9a77-5b58d322f812 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898dceb3-6f5e-458b-9a77-5b58d322f812 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898dceb3-6f5e-458b-9a77-5b58d322f812 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898dceb3-6f5e-458b-9a77-5b58d322f812 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898dceb3-6f5e-458b-9a77-5b58d322f812 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898dceb3-6f5e-458b-9a77-5b58d322f812 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898dceb3-6f5e-458b-9a77-5b58d322f812 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-898dceb3-6f5e-458b-9a77-5b58d322f812 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}