#s-c876dfcf-fa45-463e-ab41-5d056d6b274a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c876dfcf-fa45-463e-ab41-5d056d6b274a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c876dfcf-fa45-463e-ab41-5d056d6b274a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c876dfcf-fa45-463e-ab41-5d056d6b274a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c876dfcf-fa45-463e-ab41-5d056d6b274a #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c876dfcf-fa45-463e-ab41-5d056d6b274a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c876dfcf-fa45-463e-ab41-5d056d6b274a #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c876dfcf-fa45-463e-ab41-5d056d6b274a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}