#s-c876dfcf-fa45-463e-ab41-5d056d6b274a #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c876dfcf-fa45-463e-ab41-5d056d6b274a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c876dfcf-fa45-463e-ab41-5d056d6b274a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c876dfcf-fa45-463e-ab41-5d056d6b274a #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c876dfcf-fa45-463e-ab41-5d056d6b274a #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 275px;
  height: 69px;
  -ms-transform: rotate(0.0deg);
}
#s-c876dfcf-fa45-463e-ab41-5d056d6b274a #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #142129;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #142129;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #142129;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #142129;
  -ms-transform: rotate(0.0deg);
}
#s-c876dfcf-fa45-463e-ab41-5d056d6b274a #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c876dfcf-fa45-463e-ab41-5d056d6b274a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}