#s-e5f2ec2d-b68d-4c9d-89b6-7d179ee11777 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5f2ec2d-b68d-4c9d-89b6-7d179ee11777 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5f2ec2d-b68d-4c9d-89b6-7d179ee11777 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5f2ec2d-b68d-4c9d-89b6-7d179ee11777 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5f2ec2d-b68d-4c9d-89b6-7d179ee11777 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5f2ec2d-b68d-4c9d-89b6-7d179ee11777 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5f2ec2d-b68d-4c9d-89b6-7d179ee11777 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e5f2ec2d-b68d-4c9d-89b6-7d179ee11777 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}