#s-fb6a00be-80cb-4546-a3f9-94bb306b968c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb6a00be-80cb-4546-a3f9-94bb306b968c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb6a00be-80cb-4546-a3f9-94bb306b968c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb6a00be-80cb-4546-a3f9-94bb306b968c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb6a00be-80cb-4546-a3f9-94bb306b968c #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb6a00be-80cb-4546-a3f9-94bb306b968c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb6a00be-80cb-4546-a3f9-94bb306b968c #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb6a00be-80cb-4546-a3f9-94bb306b968c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}